<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                 <div class="row">
                      {{!---left side----}}
                     <div class="col-md-6 col-12 hero-text ">
                         <figure>
                             <img src="images/about.svg" alt="herosection_image">
                         </figure>
                     </div>
                      {{!---right side----}}
                     <div class="col-md-6 col-12 hero-text  d-flex justify-content-center aligb-items-start flex-column">
                     <h1>WE ARE THE PROFESSIONAL DEVELOPER ✌</h1>
                     <p>Welcome To  <span class="bold-style">Sach Web </span>
                      ,your number one source for all things. we're dedicated to giving
                      you the best of work, with a focus on [Three Characteristics, Ie:Dependabi Customer Service and Uniqueness.]
                     </p>
                     <button class="btn-style btn-primary">Read More</button>
                     </div>
                   
                     
                 </div>
            </div>
        </div>
    </div>